body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(90deg, rgb(3 16 42) 0%, rgb(51, 58, 75) 50%, rgb(3 16 42) 100%);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 17.5vw 2vh 17.5vw;
    border-bottom: 2px solid rgba(143, 23, 79, 0.541);
    border-top: 2px solid rgba(143, 23, 79, 0.541);
}

.logo-text {
    font-size: clamp(1.7rem, 4vw, 3rem);
}

.header-link {
    font-size: clamp(1rem, 1.1vw, 1.6rem);
    list-style-type: none;
    gap: 1.7vw;
    display: flex;
    list-style-position: inside;
    margin-left: 0;
    padding-left: 0;
    color: white;
}

.hero {
    margin-top: 2vw;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 13.15vh;
    margin: 0 17.5vw 0 17.5vw;
}
.hero-m-text {
    display: flex;
    flex-direction: column;
    width: 34vw;
}

.hero-m-text h2 {
    font-size: clamp(1.8rem, 2.1vw, 2.65rem);
    flex-direction: column;
    margin: 0 0 0 0;
}

.hero-sec-text{
    font-size: clamp(1rem, 1.1vw, 1.45rem);
    color: rgb(255 255 255 / 94%);
    margin-top: 0.3vh;
}

.signUp-button  {
    border-radius: 1vw;
    text-decoration: none;
    text-align: center;
    padding: 0.6vh 1.7vw;
    font-weight: 600;
    background-color: rgb(149 38 81);
    color: rgb(255, 253, 253);
    width: fit-content;
    margin-top: 2vh;
    border: 0.35vw solid rgb(143, 23, 79);
    font-size: clamp(0.7rem, 2vw, 1.4rem);
}

.placeholder {
    display: flex;
    margin-top: 4vh;
    height: 21vh;
}

.placeholder video {
    display: flex;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.sourceContent   {
    font-size: 1rem;
    font-weight: 700;
    flex-wrap: wrap;
    margin-top: 1.1vh;
    display:  flex;
}

 .sourceContent b {
  text-decoration: underline;
}

.information {
    display: flex;
    align-items: center;
    background-color: white;
    flex-direction: column;
    padding-top: 7vh;
    padding-bottom: 15vh;
}

.informationHeader {
    color:  rgb(51, 58, 75);
    font-size: clamp(1rem, 5vw, 2.6rem);
    margin: 3vh 18vw 5vh 18vw;
    text-align: center;
}
.informationBox {
    display: grid;
    margin-top: 5vh;
    grid-template-columns: repeat(4, 2fr);
    outline-width: thick;
    grid-gap: 3.8vw;
}

.infoBox {
    display: flex;
    flex-direction: column;
    width: min-content;
    align-items: center;
}

.infoBoxBorder {
    width: 12.6vw;
    height: 11.7vw;
    border: 0.6vh solid rgb(108 120 145);
    border-radius: 0.6vw;
    overflow: hidden;
    background-color: rgb(108 120 145);
    max-height: 300px;
    max-width: 330px;
}

.infoBoxBorder img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.infoBoxText {
    font-size: clamp(0.57rem, 2.1vw, 1.45rem);
    color: rgba(0, 0, 0, 0.63);
    margin-top: 0.6vh;
    text-align: center;
}

.infoQuote {
    font-weight: lighter;
    color: rgb(51, 58, 75);
    padding-top: 15vw;
    padding-bottom: 15vw;
    font-style: italic;
    max-width: 1100px;
    font-size: clamp(0.73rem, 2.9vw, 2.6rem);
    text-align: center;
}

.infoQuote span {
    font-weight: bold;
    float: right;
    font-size: 0.73em;
    padding-right: 2vw;
    font-style: normal;
}

.callToAction {
    background-color: rgb(108 120 145);
    width: 63.717vw;
    height: 21.013vh;
    border-radius: 0.7vw;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cTA-left {
    margin-left: 4.5vw;
    font-size: clamp(1rem, 2.1vw, 2rem);
    color: white;
}

.callToAction .signUp-button {
    margin: 0 4vw 0 2.64vw;
    white-space: nowrap;
}

.cTA-left span {
    font-size: 0.70em;
}

.footer {
    height: 9.136vh;
    font-size: clamp(0.9rem, 0.9vw, 1.5rem);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.footer a {
    text-decoration: none;
}

.callToAction, .sourceContent, a, .hero-m-text, .logo-text {
    color: rgb(226 14 84);
}

@media screen and (max-width: 768px) {
.header {
    flex-direction:
    column;
    margin-right: 7vw;
    margin-left: 7vw;
}

.logo-text, h1 {
    text-align: center;
    width: -webkit-fill-available;
    margin-bottom: 0;
}

.header-link {
    gap: 3.5vw;
}

.hero-container {
    flex-direction: column;
    justify-content: unset;
    margin: 0;
}

.hero-m-text {
    align-items: center;
    text-align: center;
    width: fit-content;
}

.signUp-hero {
    margin-bottom: 2.5vh;
}
    
.signUp-hero a {
    padding: 1.4vh 10vw;
    white-space: nowrap;
}

.placeholder {
    width: 90vw;
    height: auto;
}

.sourceContent   {
    justify-content: center;
    padding-top: 3.5vh;
}

.informationHeader {
    margin-left: 1vw;
    margin-right: 1vw;
}
    
.informationHeader h3 {
    display: flex;
    color:  rgb(51, 58, 75);
    font-size: 2.5rem;
    font-weight: 800;
    padding-left: 3vw;
}
    
.informationBox {
    margin-top: unset;
}

.infoBoxBorder {
    border-width: 0.4vh;
    width: 20vw;
    height: 18vw;
}

.infoQuote, .infoQuote span {
    padding-top: 15vh;
    padding-bottom: 15vh;
} 

.callToAction {
    width: 94vw;
    max-height: 130px;
}
}