body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero, 
.footer {
    background: linear-gradient(90deg, rgba(51,52,54,1) 0%, rgb(51, 58, 75) 50%, rgba(51,52,54,1) 100%);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 9vw; */
    margin: 0 18vw 2vh 18vw;
}

.logo-text h1 {
    font-size: 2.1rem;
    color: rgb(143, 23, 79);
    display: flex;
    /* margin-left: 9.6vw; */
}

.header-link {
    font-size: 1.25rem;
    display: flex;
    /* margin-right: 20vw; */
    text-decoration: underline;
}

.header-link ul, a {
    text-decoration: none;
    list-style-type: none;
    color: rgb(143, 23, 79);
    gap: 1.4vw;
    display: flex;
    list-style-position: inside;
    margin-left: 0;
    padding-left: 0;
}

.hero-container {
    display:
    flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 13.15vh;
    margin: 0 18vw 0 18vw;
    /* gap: 7.5vw; */
}
.hero-m-text {
    font-size: 3.6rem;
    color: rgb(143, 23, 79);
    font-weight: 800;
    display: flex;
    flex-direction: column;
    width: 34vw;
}

.hero-m-text h2 {
    font-size: 3.2rem;
    color: rgb(143, 23, 79);
    font-weight: 800;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 0vw;
}

.hero-sec-text{
    font-size: 0.29em;
    color: rgba(143, 23, 79, 0.904);
    margin-top: 0.3vh;
    display: flex;
}

.signUp-hero a {
    display: flex;
    border-radius: 8px;
    border: none;
    text-decoration: none;
    text-align: center;
    padding: 0.6vh 1.7vw;
    font-weight: 600;
    font-size: 1.1rem;
    background-color: rgb(97, 116, 168);
    color: rgb(255, 253, 253);
}

.signUp-hero {
    display:
    flex;
    margin-top: 0.7vh;
}

.placeholder {
    display: flex;
    /* width: 20.7vw; */
    margin-top: 4vh;
    height: 20vh;
}

.placeholder video {
    display: flex;
    object-fit: contain;
    width: 100%;
    height: 100%;
}


.sourceContent   {
    font-size: 1rem;
    font-weight: 700;
    flex-wrap: wrap;
    margin-top: 1.1vh;
    display:  flex;
}

 .sourceContent b {
  text-decoration: underline;
}

.information {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex-direction: column;
    padding-top: 1.5vh;
    padding-bottom: 15vh;
    /* padding-left:; */
}

.informationHeader h3 {
    display: flex;
    color:  rgb(51, 58, 75);
    font-size: 2.5rem;
    font-weight: 800;
    margin: 3vh 18vw 5vh 18vw;
    text-align: center;
}
.informationBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    /* margin-right: 4vw; */
    width: 100vw;
}

.infoBox {
    display: flex;
    flex-direction: column;
    /* width: 20vw; */
    /* height: 19vh; */
    /* align-content: center; */
    /* text-align: center; */
    /* max-width: 150px; */
    /* max-height: 150px; */
}

.infoBoxBorder {
    display: flex;
    width: 11vw;
    height: 10vw;
    border: 0.52vh solid rgb(107, 121, 158);
    border-radius: 0.6vw;
    overflow: hidden;
    background-color: rgb(107, 121, 158);
    /* max-width: 150px; */
    /* max-height: 150px; */
}

.infoBoxBorder img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.infoBoxText {
    display: flex;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.63);
    height: 2vw;
    margin-top: 0.6vh;
    justify-content: center;
    text-align: center;
    width: 11.4vw;
}


@media screen and (max-width:720px) {
.header {
    flex-direction:
    column;
}

    .logo-text, h1 {
    font-size: 2rem;
    color: rgb(143, 23, 79);
    display: flex;
    margin-left: 0vw;
    justify-content: center;
}

.header-link {
    font-size: 1.3rem;
    display: flex;
    /* margin-right: 6vw; */
    justify-content: center;
    text-decoration: underline;
    text-align: center;
    /* margin-left: auto; */
    /* margin-right:
    auto; */
}

.header-link ul, a {
    text-decoration: none;
    list-style-type: none;
    color: rgb(143, 23, 79);
    gap: 0vh 3.4vw;
    display: flex;
    text-align: center;
    list-style-position: inside;
    margin-left: 0;
    padding-left: 0;
}

.hero-container {
    flex-direction: column;
}

.hero-m-text {
    align-items: center;
    text-align: center;
}

.hero-m-text h2 {
    width: 35.6vw;
}

.signUp-hero {
    margin-bottom: 2.5vh;
}
    
.signUp-hero a {
    padding: 1.4vh 10vw;
    white-space: nowrap;
}

.placeholder {
    width: 100vw;
    max-width: max-content;
    height: auto;
}

.sourceContent   {
    justify-content: center;
    padding-top: 3.5vh;
}

.information {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex-direction: column;
    padding-top: 0.5vh;
    padding-bottom: 15vh;
}

.informationHeader h3 {
    display: flex;
    color:  rgb(51, 58, 75);
    font-size: 2.5rem;
    font-weight: 800;
    padding-left: 3vw;
}
    
.informationBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    margin: 0 0 0 0;
}

.infoBox {
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    /* width: 21vw; */
    /* text-align: center; */
    /* max-width: 90px; */
    /* max-height: 90px; */
}    

.infoBoxBorder {
    display: flex;
    width: 19.5vw;
    height: 17.5vw;
    border: 0.52vh solid rgb(107, 121, 158);
    border-radius: 0.6vw;
    overflow: hidden;
    background-color: rgb(107, 121, 158);
}

.infoBoxBorder img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.infoBoxText {
    display: flex;
    font-size: .72rem;
    color: rgba(0, 0, 0, 0.72);
    width: 21vw;
    height: 2vw;
    margin-top: 0.6vh;
    justify-content: center;
    text-align: center;
    /* margin-right: 8vw; */
}
    
}  